/* .deck-page{
    width: 100vw;
    height: 100vh;
}
.deck-page-container{
    height: 80%;
    width: 80%;
    background-color: #b9cfe6;
} */

.deck-page{
    background-color: #d2dae66c;
    height: calc(100vh - 120px);
    width: calc(100vw - 320px);
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px;
    position: relative;
}

.deck-page h1{
    text-align: left;
    color: #0173e9;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    animation: 0.5s fadeUp;
}

/* .deck-page h1:hover {
    color: var(--darkest-blue);
    cursor: pointer;
} */

.deck-container{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    animation: 0.5s fadeUp;
}

.back{
    background-color: #ffffff00;
    color: rgb(109, 115, 129);
    padding: 0px;
    border: none;
    cursor: pointer;
}
.back:hover{
    color:#0173e9;
    border: none;
}

@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Starts 20px below its final position */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Ends at its original position */
    }
  }

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-icon {
    width: 25px;
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.popup-content {
    background-color: var(--lightest-blue);
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup-content .delete {
    color: rgb(192, 54, 54);
}

.popup-content .delete:hover {
    border-color: rgb(235, 36, 36);
}