/* .deck-page{
    width: 100vw;
    height: 100vh;
}
.deck-page-container{
    height: 80%;
    width: 80%;
    background-color: #b9cfe6;
} */

.deck-page{
    background-color: #d2dae66c;
    height: calc(100vh - 120px);
    width: calc(100vw - 320px);
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px;
}

.deck-page h1{
    text-align: left;
    color: #0173e9;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}

.deck-container{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}