.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
    align-items: stretch;
}

.flashcard-container {
    perspective: 1000px;
}

.flashcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid var(--darkest-blue); */
    border-radius: 8px;
    /* padding: 1em 1.6em; */
    width: 40vw;
    height: 50vh;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background-color: var(--light-blue);
    /* background-image: linear-gradient(#ffe16a 0%, #ff9868 70%, #ff4066 100%); */
    background-image: linear-gradient(#103ce7, #64e9ff);
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.flashcard .card-back {
    background-color: var(--white-blue);
    color: black;
}

.flashcard .card-front {
    padding: 1em 1.6em;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flashcard .card-back {
    padding: 1em 1.6em;
    height: 100%;
    border-radius: 8px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flashcard.flip {
    transform: rotateY(-180deg);
}

.flashcard .title {
    font-weight: 600;
    font-size: 18px;
    user-select: none;
}

.flashcard .card-text {
    font-size: 20px;
}

.flashcard .date {
    color: gray;
    font-size: 14px;
    user-select: none;
}
.allcards{
    width: calc(100vw - 320px);
    margin-top: -20px;
}
.allcards .buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid var(#0173e9);
}

.allcards .buttons button {
    border: 1px solid var(#0173e9);
    border-radius: 30px;
    color: #0173e9;
}

.allcards .buttons button:hover {
    border: 2px solid var(#0173e9);
    color: #0173e9;
}