.deck-card{
    width: 250px;
    height: 300px;
    background-image: linear-gradient(#64b9ff, #103ce7);
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 2px 2px 15px rgba(40, 80, 155, 0.61);
}

.deck-title{
    color: white;
    font-size: 17px;
    font-weight: 600;
}