.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
    align-items: stretch;
}

.flashcard-container {
    perspective: 1000px;
}

.flashcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--darkest-blue);
    border-radius: 8px;
    /* padding: 1em 1.6em; */
    width: 70vw;
    height: 35vh;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background-color: var(--light-blue);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.flashcard .card-back {
    background-color: var(--white-blue);
}

.flashcard .card-front {
    padding: 1em 1.6em;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flashcard .card-back {
    padding: 1em 1.6em;
    height: 100%;
    border-radius: 8px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flashcard.flip {
    transform: rotateY(-180deg);
}

.flashcard .title {
    font-weight: 600;
    font-size: 18px;
    user-select: none;
}

.flashcard .card-text {
    font-size: 20px;
}

.flashcard .date {
    color: gray;
    font-size: 14px;
    user-select: none;
}

.allcards .buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.allcards .buttons button {
    border: 1px solid var(--darkest-blue);
}

.allcards .buttons button:hover {
    border-color: var(--blue);
}