.sidebar{
    /* background-color: #f0ede4; */
    width: 200px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.382); */
}

.logo{
    width: 5vw;
    margin-left: 40px;
    margin-bottom: 30px;

}

.sidebar-links{
    list-style-type: none;
    padding: 0;
}

.sidebar-links li{
    margin-bottom: 20px;
}

.nav-text {
    color: #0c6cba;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    display: flex;
    align-items: center; /* Ensure the icon and text are aligned */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .nav-text:hover {
    /* border: 1px solid #0039be87; */
    /* background-color: #b1c9ef65; */
    /* color: #0039be; */
    font-weight: 600;
    color:#0c6cba;
    /* text-decoration: underline; */
  }

