.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.flashcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--light-blue);
    border-radius: 8px;
    padding: 1em 1.6em;
}

.flashcard .title {
    font-weight: 600;
    font-size: 18px;
    user-select: none;
}

.flashcard .card-text {
    font-size: 16px;
}

.flashcard .date {
    color: gray;
    font-size: 14px;
    user-select: none;
}

.flashcard:hover {
    background-color: var(--white-blue);
}